= link_to new_message_path, class: 'link-button' do
  .link-button__icon
    %span.link-button__icon__letter
      POST
    %span
    = image_tag "pen-icon.png", size: "54x54", class: 'link-button__icon__image'