-# .GroupList
-#   .Group
-#     = link_to '#' do
-#       .Group__name
-#         メッセージ名
-#       .Group__memo
-#         最新のメッセージ

.message
  .message__box
    .message__box__title どうしますか
    .message__box__icon 写真
  .message__box
    .message__box__title これがいい
    .message__box__icon 写真
  .message__box
    .message__box__title 趣味の初め
    .message__box__icon 写真
  .message__box
    .message__box__title 読書の進め
    .message__box__icon 写真
  .message__box
    .message__box__title 読書の進め
    .message__box__icon 写真

