.message
  - @messages.each do |message|
    = link_to message_path(message), class: 'message__box' do
      .message__box__title 
        =message.title
        %p.message__box__icon
          = message.user.name