%h2.result-title 
  【検索結果】

.result
  - @messages.each do |message|
    .result-box
      = link_to message_path(message), class: 'link-box' do
        .result-box__image
          %label 【投稿画像】
          .result-box__image__file
          = image_tag message.image.url, class: 'result-box__image__picture'

        .result-box__title
          %label 【タイトル】
          .result-box__title__data
            =message.title

        .result-box__category
          %label 【カテゴリー】
          .result-box__category__data
            =message.category.name