%h2.result 検索結果ページ

.show
  .show-box
    .show-box__image
      %label 【投稿画像】
      .show-box__image__file

    .show-box__title
      %label 【タイトル】
      .show-box__title__data

    .show-box__category
      %label 【カテゴリー】
      .show-box__category__data