.link-button{
  color: #0099e8;
  text-decoration: none;
  &__icon{
    width: 120px;
    height: 120px;
    background:silver;
    text-align: center;
    border-radius: 50%;
    bottom: 650px;
    right: 10px;
    position: fixed;
    padding: 12px;
    &__letter{
      color: white;
      display: block;
      font-size: 20px;
      text-decoration: none;
      margin-bottom: 1px;
    } 
    &__image{
      width: 60%;

    }
  }
}