.top-header{
  background-color: #69f0ae;
}

.header-box{
  text-align: center;
}
.header-title{
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.three-box{
  text-align: center;
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.left__box__search{
  &__form{
    display: flex;
    &__word{
      width: 230px;
      padding: 5px;
    }
    &__send{
      padding-left: 2px;
      &__btn{
        height: 100%;
      }
    }
  }
}

.right-bottom{
  display: flex;
  &__button{
    position: relative;
    cursor: pointer;
    color: #333;
    padding-left: 10px;
    &__registration{
      background-color: #2bbc7d;
      border: 1px solid #2bbc7d;
      border-radius: 20px;
      color: white;
      display: block;
      font-size: 17px;
      padding: 5px 14px;
      text-decoration: none;
    }
    &__login{
      background-color: #2bbc7d;
      border: 1px solid #2bbc7d;
      border-radius: 20px;
      color: white;
      display: block;
      font-size: 17px;
      padding: 5px 14px;
      text-decoration: none;
    }
  }
}