.message{
  height: 750px;
  width: 100%;
  display: flex;
  padding: 20px 100px;
  background-image: image-url('sunsunsun.jpg');
  background-size:  cover;
  overflow-x: auto;
  white-space: nowrap;  
  &__box{
    width: 190px;
    background-color: #ffe97d;
    display: inline-block;
    margin-right:70px;
    text-decoration: none;
    color: black;
    &__title{
      padding: 10px;
      width: 190px;
      font-size: 40px;
      writing-mode: vertical-rl;
      text-orientation: upright;
    }
    &__icon{
      font-size: 30px;
      writing-mode: vertical-rl;
      padding: 510px 70px ;
    }

  }
} 