.new-page{
  height: 100%;
  width: 100vw;
  background-color: rgb(2, 179, 134);
  padding: 20px;
}

.new-box{
  height: 100%;
  width: 90%;
  background-color: white;
  margin: 0 auto;
  padding: 10px;
}

.new-box__title{
 font-size: 20px;
 padding-bottom: 10px;
  &__form{
    width: 100%;
    font-size: 20px;
  }
}



.new-box__category{
  font-size: 20px;
  padding-bottom: 10px;
}
.new-box__category__form{
  width: 100%;
  font-size: 20px;
}



.new-box__image{
  // background-color: greenyellow;
  padding-bottom: 10px;
  border: 1px;
}    
.new-box__image__file{

}
.new-box__image__file__upload{

}
.fas.fa-camera{

}
.new-box__image__file__upload__info{

}

.new-box__content{
  font-size: 20px;
}
.new-box__content__text{
  width: 100%;
}

.new-box__submit{
  text-align: center;
}

.new-box__submit__btn{
  font-size: 20px;
  width: 20%;
  color: white;
  background-color: orange;
  cursor: pointer;
}

.new-box__return{
  padding-top: 50px;
  text-align: center;
}

.new-box__return__btn{
  color: rgb(0, 225, 255);
  text-decoration: none;
}