.new-page{
  height: 100%;
  width: 100vw;
  background-color: rgb(236, 243, 234);
  padding: 20px;
}

.new-box{
  height: 100%;
  max-width: 55%;
  background-color: white;
  margin: 0 auto;
  padding: 20px;

}

.new-box__title{
 font-weight: bold;
 font-size: 20px;
 padding-bottom: 30px;
  &__form{
    font-weight: normal;
    height: 40px;
    width: 100%;
    font-size: 20px;
  }
}



.new-box__category{
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 30px;
  &__form{
    font-weight: normal;
    height: 40px;
    width: 100%;
    font-size: 20px;
  }  
}



.new-box__image{
  padding-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}    
.new-box__image__file{
  height: 120px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

}
.new-box__image__file__upload{

}

.new-box__image__file__upload__icon{
  font-size: 25px;
  cursor: pointer;
}

.new-box__image__file__upload__file{
  display: none;
}

.new-box__content{
  font-size: 20px;
  font-weight: bold;
}
.new-box__content__text{
  width: 100%;
  font-weight: normal;
}

.new-box__submit{
  text-align: center;
}

.new-box__submit__btn{
  font-size: 20px;
  width: 20%;
  color: white;
  background-color: orange;
  cursor: pointer;
}

.new-box__return{
  padding-top: 50px;
  text-align: center;
}

.new-box__return__btn{
  color: rgb(0, 225, 255);
  text-decoration: none;
}