.result-title{
  font-size: 30px;
  color: white;
  background-color: gray;
}

.result{
}

.result-box{
  margin: 100px;
  width: 400px;
  height: 400px;
}

.link-box{
  text-decoration: none;
  color: black;
}

.result-box__image__picture{
  width: 200px;
  height: 200px;
}