.result-title{
  font-size: 30px;
  color: white;
  background-color: gray;
}

.result{
}

.result-box{
  width: 400px;
  height: 400px;
  margin: 50px auto;
}

.link-box{
  text-decoration: none;
  color: black;
  text-align: center;
}

.result-box__image__picture{
  width: 200px;
  height: 200px;
}