.show{
  width: 100%;
  height: 100%;
}

.show-box{
  margin: 0 400px;
}
  
.show-box__image{
  display: flex;
  font-size: 20px;
  padding-bottom: 50px;
}

.show-box__image__picture{
  width: 100%;
  height: 400px;
}

.show-box__title{
  padding-bottom: 50px;
  display: flex;
  justify-content: right;
  label{
    width: 92px;
    background-color: black;
    border: 1px solid black;
    border-radius: 40px;
    color: white;
    font-size: 14px;
    padding: 10px 16px;
    font-weight: bold;
  }
}
.show-box__title__data{
  margin-left: 50px;
  font-size: 30px;
  font-weight: bold;
}

.show-box__category{
  padding-bottom: 50px;
  display: flex;
  justify-content: right;
  label{
    background-color: black;
    border: 1px solid black;
    border-radius: 40px;
    color: white;
    font-size: 14px;
    padding: 10px;
    font-weight: bold;
  }
}


.show-box__category__data{
  margin-left: 50px;
  font-size: 30px;
  font-weight: bold;
}

.show-box__memo{
}

.show-box__memo__data{
  padding: 20px 0;
  font-size: 30px;
  font-weight: bold;
}

.show-box__content{
}

.show__good{
  text-align: center;
}

.show__good__box{
  font-size: 20px;
  font-weight: bold;
}

.not-like{
  font-size: 2em;
  color: skyblue;
}

.not-like-number{
  font-size: 30px;
  text-decoration: none;
  color: skyblue;
}

.like{
  text-decoration: none;
}

.liked{
  font-size: 2em;
  color: red;
}

.liked-number{
  font-size: 30px;
  color: red;
}

.item-button-container{
  text-align: center;
}

.Form{
 margin: 50px 0;
 text-align: center;
}

.text-box{
  width: 90%;
  padding: 5px;
}

.send-box{
  padding-left: 5px;
  width: 40px;
  height: 38px;
  border: none;
  background-color: rgb(0, 162, 255);
  border-radius: 35px;
}

.fas.fa-paper-plane{
  font-size: 20px;
  color: white;
}

.comment-box{
  margin: 20px 0;
  padding: 5px;
  border: solid 1px black;
  display: flex;
}

.comment-name{
 font-weight: bold;
 padding: 0 5px;
 border-radius: 45%;
 border: 1px solid gray;
}

.comment-text{
  font-weight: bold;
  padding-left:30px;
 }

.show-box__content__edit{
  height: 50px;
  margin: 30px auto;
  width: 40%;
  background-color: green;
  border: 1px solid green;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  line-height: 48px;
  display: block;
  text-decoration: none;
}

.show-box__content__delete{
  height: 50px;
  width: 40%;
  margin: 30px auto;
  background-color: pink;
  border: 1px solid pink;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  line-height: 48px;
  display: block;
  text-decoration: none;
}

.return__button{
  height: 50px;
  width: 40%;
  margin: 30px auto;
  background-color: orange;
  border: 1px solid orange;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  line-height: 48px;
  display: block;
  text-decoration: none;
}